.page-details {
    .store-gallery {
        margin-top: 20px;

        img {
            border-radius:20px;
        }
    }
    
    .store-heading {
        margin-bottom: 5px;
    
        h1 {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
            color: #0C0D36;
        }

        .owner {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #979797;
            margin-bottom: 8px;
        }

        .price {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #FF7158;
        }

        .btn-success {
            border-radius: 6px;
            padding-right: 20px;
            padding-left: 20px;
        }
        
    }
    .store-description {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        color: #525252;
    }
   
}

.thumbnail-image {
    margin-bottom: 15px;
    border: 2px solid transparent;
    border-radius: 4px;

    &:hover,&.active {
        border: 4px solid #ff7158;
        border-radius: 8px;
        cursor: pointer;
    }
}

.review  {
    h5 {
    color: #0C0D36;
    font-size: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    }

    .media img {
        width: 61px;
        height: 61px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .media h5 {
        color: #0C0D36;
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
 
    }

    .media-body {
        color: #525252;
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
     
    }


}